@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.wrap {
  width: 60%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
}

header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #f6f6f6;
  padding: 0.3rem 0rem;
}

header .social a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

header .social a:hover {
  text-decoration: underline;
}

header .social a li {
  padding: 0.2rem 0.3rem;
}

header .social img {
  margin-right: 0.2rem;
}

.FB-primary-color {
  color: #8c9cc3;
}

.twitter-primary-color {
  color: #2ab7ed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 1rem 0rem;
  border-bottom: 3px solid #ffffff;
}

nav ul li:hover {
  border-bottom: 3px solid #64e0c1;
}

nav ul li a {
  text-decoration: none;
  color: #64e0c1;
  font-weight: bold;
  padding: 1rem 1rem;
  font-size: 0.8rem;
}

.logo h1 {
  background-image: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 170px;
  height: 35px;
}

.banner {
  background-image: url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0rem 5rem 0rem;
}

.banner h2 {
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3rem 1rem;
}

.skill {
  margin: 1.5rem 0rem 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skill .item-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.skill .item-ul .item-li {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0.5rem;
  max-width: 400px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
  -webkit-box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.3);
}

.skill .item-ul h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

.skill .item-ul p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.skill .item-ul img {
  width: 16vw;
}

.item-JQuery {
  list-style-type: disc;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 1rem;
}

.item-JQuery li {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem 0rem 3rem 0rem;
}

.table h3 {
  font-size: 1.3rem;
}

.table table {
  width: 90%;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.table table tr:hover {
  background-color: #f2f7b5;
}

.table table th {
  border-top: solid #ededed 1px;
  border-bottom: solid #ededed 1px;
  padding: 0.5rem 0rem 0.5rem 1rem;
  text-align: left;
  font-weight: bold;
  background-color: #f7f7f7;
}

.table table td {
  border-bottom: solid #ededed 1px;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.table table .table-font-color {
  color: #45bea1;
}

.form {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00644b),
    to(#009872)
  );
  background-image: linear-gradient(#00644b, #009872);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 1rem;
}

.form h3 {
  font-size: 1.3rem;
  color: white;
  text-align: center;
  line-height: 2rem;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-content textarea {
  resize: none;
  -webkit-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
}

.form-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  font-size: 0.9rem;
  margin: 0rem 0rem 0rem 1rem;
  -webkit-box-flex: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
}

.form-content form input {
  margin-bottom: 1rem;
}

.form-content form button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 70px;
  height: 30px;
  color: white;
  background-color: #00cc99;
  border-radius: 3px;
  border: none;
  font-weight: bold;
}

.form-content form button:hover {
  background-color: #067c5f;
  cursor: pointer;
}

.form-content form button:active {
  background-color: #83b6a9;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0.5rem 3rem 0.5rem;
  background-color: white;
}

footer li {
  font-size: 0.9rem;
  line-height: 1rem;
}

footer li a {
  text-decoration: none;
  color: #e33887;
}

footer li a:hover {
  color: #df649d;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .wrap {
    width: 100%;
  }
  nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .item-ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer ul {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .item-ul .item-li img {
    width: 300px;
  }
  .form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-content textarea {
    height: 200px;
  }
  .form-content form {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */
